*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif , 'Poppins';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('ideas.jpg') no-repeat;
    background-size: cover;
    background-position: center
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px  100px;
    /* background:red; */
    color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
} 

.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
    /* border: 2px solid; */
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
@media screen and (max-width:850px) {
    header{
        display: flex;
        padding: 0;
    }
    .navigation{
        display: none;
    }
    .logo{
        /* border: 2px solid; */
        flex-grow: 1;
    }
}

.navigation a::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    /* transform-origin: right; */
    transform: scaleX(0);
    transition:transform .3 s;
}

.navigation a:hover::after{
    /* transform-origin: left  ; */
    transform: scaleX(1);
}

.navigation .btn-login{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid  #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight:500;
    margin-left:40px;
    transition: .5;      
}

.navigation .btn-login:hover {
    background: #fff;
    color:#162938 ;

}